/* GENERAL */

html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}
/* END GENERAL */

/* HERO */

.hero {
    background-color: #1F2937;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 15px;
    padding-bottom: 50px;
}

/* END HERO */

/* HEADER */

.menu > a, .description_text > p {
    color: #E5E7EB;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header > img {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
}

.header_left {
    display: flex;
    justify-content: flex-start;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.menu > a {
    margin-right: 15px;
}

/* END HEADER */

/* DESCRIPTION */

.description {
    display: flex;
    justify-content: space-between;
}

.description_text > h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.description_text > button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    font-size: 25px;
    padding: 5px 15px;
    width: 150px;
    box-shadow: none;
}
/* END DESCRIPTION */

/* INFORMATION */

#information > h2 {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.info_images {
    display: flex;
    justify-content: center;
}

figure > img {
    border: 5px solid #3882F6;
    border-radius: 5px;
}

figcaption {
    text-align: center;
}

/* END INFORMATION */

    
